# macOS metadata
.DS_Store

# Go workspace - checksums for necessary leftover modules
/go.work.sum

# Taskfile checksums & binaries
/.task/

# IntelliJ folder
/.idea/

# Output from test:report
/report.xml

# Output from test:coverage
/cover.out

# Binaries
/bin
