# macOS metadata
.DS_Store

# Go workspace - checksums for necessary leftover modules
/go.work.sum

# Binaries
/hack/bin/

# Makefile things
/tmp/

# IntelliJ folder
/.idea/

# Output from 'go-junit-report'
/report.xml
